
.cantcat__container{
    width: 100%;min-height: 100VH;
    position: relative;
}
.cantact__form{
    height: auto;
    max-width: 600PX;margin: 1REM auto;
    background-color: transparent;
    border: 1PX SOLID #202020 ;
    border-radius: .4REM;
    padding: 2REM 1REM;
    margin-top: 1.5REM;
}
@media screen and (max-width:767PX) {
    .cantact__form{
        border: none;
    }
}
.cantact__form .u__input{
    width: 100%;height: auto;
    position: relative;
    margin-bottom: 1REM;

}
.cantact__form .u__input label{
    display: inline-block;
    opacity: .8;
    margin-bottom: .5REM;

}
.grid__inputs{
    width: 100%;display: grid;
    gap: var(--row-gap-10);
    grid-template-columns: 1FR 1FR;
}
.cantact__form .u__input input{
    width: 100%;height: auto;
    padding: 1.1REM .7REM;
    background-color: #141414;
    border-radius: .2REM;
    border: 1PX SOLID #191919;
    transition: .2S ease-out all;
}
.cantact__form .u__input .message__textarea{
    width: 100%;height: 170PX;
    padding: 1.1REM .7REM;
    background-color: #131313;
    border-radius: .2REM;
    border: 1PX SOLID #191919;
    transition: .2S ease-out all;
    resize: none;

}
.cantact__form .u__input .message__textarea:hover{
    background-color: #171717;
    border-color: #252525;
}
.cantact__form .u__input .message__textarea:focus{
    background-color: #171717;
    border-color: #292929;
}
.cantact__form .u__input .message__textarea::placeholder{
    opacity: .7;
}
.cantact__form .u__input input:hover{
    background-color: #171717;
    border-color: #252525;
}
.cantact__form .u__input input:focus{
    background-color: #171717;
    border-color: #292929;
}
.cantact__form .u__input input::placeholder{
    opacity: .7;
}

.btnForm__submit{
    width: 100%;padding: .8REM;
    color: #111;border-radius: 20PX;
    cursor: pointer;user-select: none;
    transition: .2S ease-in-out all;
    opacity: 1;
    margin-bottom: 1REM;
}

.btn{
    background-color: #1c5b4f;
    width: 100%;padding: .8REM;
    color: #fff;border-radius: 20PX;
    margin-bottom: 1REM;
    display: flex;align-items: center;
    cursor: pointer;
}
.btn span{
    text-align: center;
    width: calc(100% - 50PX);
}